[submodule "themes/LeaveIt"]
	path = themes/LeaveIt
	url = https://github.com/liuzc/LeaveIt.git
[submodule "themes/hugo-theme-terminal"]
	path = themes/hugo-theme-terminal
	url = https://github.com/panr/hugo-theme-terminal.git
